__pycache__/
*.pyc
*.pyo
*.orig
.DS_Store
*~
\#*\#
Icon*
coverage.xml
dump.rdb

*.o
*.so
*.dmg
*.dylib
*.jar
*.zip
a.out

*.egg-info/
build/
dist/
sdist/

.cache/
.config/
.hypothesis/
.nox/
.pytest_cache/
.tox/

.coverage
.env
.envrc
.noxresults.json
.tm_properties

tmtags
tmtagsHistory

docs/_build
